<a href="{{badges.buildStatus.redirectUrl}}" target="_blank">
  <img src="{{badges.buildStatus.imageUrl}}" alt="{{badges.buildStatus.title}}" height="18">
</a>
<a href="{{badges.license.redirectUrl}}" target="_blank">
  <img src="{{badges.license.imageUrl}}" alt="{{badges.license.title}}" height="18">
</a>
<a href="{{badges.npmVersion.redirectUrl}}" target="_blank">
  <img src="{{badges.npmVersion.imageUrl}}" alt="{{badges.npmVersion.title}}" height="18">
</a>
