<a href="{{githubUrl}}" target="_blank" class="fork-me-logo"></a>
<div class="packer-container">
  <a href="{{githubUrl}}" target="_blank">
    <img src="{{logo}}" alt="{{title}}"/>
  </a>
  <div class="packer-badges">{{> _badges badges=badges}}</div>
  <p class="packer-tag-line">{{tagLine}}</p>
</div>
